matrix:
- name: Markdown
  aspell:
    ignore-case: true
    lang: en
  dictionary:
    wordlists:
    - .github/config/.wordlist.txt
    encoding: utf-8
  pipeline:
  - pyspelling.filters.markdown:
  - pyspelling.filters.html:
    comments: false
    attributes:
    - li
    ignores:
    - code
    - pre
  sources:
  - '**/*.md'
  default_encoding: utf-8
