<header>
  <div class="logo">
    <a href="https://cloud.redhat.com/">
      <img src="{{ "images/logo--on-dark.svg" | relURL }}" width="169" height="40" alt="Red Hat logo" />
    </a>
  </div>
  <div class="site-header__search" role="search" aria-label="Documentation search">
    {{/*
      Pagefind mounts in #site-search; JS adds Search / Clear toggle button.
      https://ux.redhat.com/patterns/search-bar/
    */}}
    <div class="site-header__search-stack">
      <div id="site-search" class="site-header__pagefind"></div>
    </div>
  </div>
</header>
