<section id="hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1>Managed OpenShift Tutorials</h1>
      <p>Step-by-step tutorials from Red Hat experts to help you get the most out of your Managed OpenShift cluster.</p>
      <div class="hero-cta">
        <rh-cta variant="brick"><a href="/experts/rosa/sts/" data-analytics-linktype="cta">Red Hat OpenShift Service on AWS (ROSA) quickstart</a></rh-cta>
        <rh-cta variant="brick"><a href="/experts/quickstart-aro/" data-analytics-linktype="cta">Azure Red Hat OpenShift (ARO) quickstart</a></rh-cta>
      </div>
    </div>
  </div>
</section>