<rh-navigation-secondary role="navigation">
  <a href="/" slot="logo" id="logo-id">
    Cloud Experts Documentation
  </a>
  <ul slot="nav" aria-labelledby="logo-id">
    <li>
      <rh-navigation-secondary-dropdown>
        <a href="#dropdown-fallback-url" slot="link">Managed Openshift</a>
        <rh-navigation-secondary-menu slot="menu">
          <rh-navigation-secondary-menu-section>
            <h3 slot="header">Red Hat OpenShift on AWS (ROSA)</h3>
            <ul slot="links">
              <li><a href="#">Prerequisites Checklist to Deploy ROSA Cluster with STS</a></li>
              <li><a href="#">Deploying ROSA in Private Link mode</a></li>
              <li><a href="#">Deploying ROSA PrivateLink Cluster with Ansible</a></li>
              <li><a href="#">Deploying ROSA in STS mode</a></li>
              <li><a href="#">Deploying ROSA in STS mode with Private Link</a></li>
            </ul>
            <rh-cta slot="cta">
              <a href="#">Read more on ROSA</a>
            </rh-cta>
          </rh-navigation-secondary-menu-section>
          <rh-navigation-secondary-menu-section>
            <h3 slot="header">Azure Red Hat OpenShift (ARO)</h3>
            <ul slot="links">
              <li><a href="#">Considerations for Disaster Recovery with ARO</a></li>
              <li><a href="#">Getting Started with the Azure Key Vault CSI Driver</a></li>
              <li><a href="#">Deploy and use the Azure Service Operator V1(ASO)</a></li>
              <li><a href="#">Deploy and use the Azure Service Operator V2(ASO)</a></li>
            </ul>
            <rh-cta slot="cta">
              <a href="#">Read more on ARO</a>
            </rh-cta>
          </rh-navigation-secondary-menu-section>

          <rh-navigation-secondary-menu-section>
            <h3 slot="header">Google Cloud Platform (GCP)</h3>
            <ul slot="links">
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
            <rh-cta slot="cta">
              <a href="#">Read more on GCP</a>
            </rh-cta>
          </rh-navigation-secondary-menu-section>          
        </rh-navigation-secondary-menu>
      </rh-navigation-secondary-dropdown>
    </li>
    <li>
      <rh-navigation-secondary-dropdown>
        <a href="#dropdown-fallback-url" slot="link">Cluster Manager</a>
        <rh-navigation-secondary-menu slot="menu">
          <ul>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </rh-navigation-secondary-menu>
      </rh-navigation-secondary-dropdown>
    </li>
    <li>
      <rh-navigation-secondary-dropdown>
        <a href="#dropdown-fallback-url" slot="link">Observability</a>
        <rh-navigation-secondary-menu slot="menu">
          <ul>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </rh-navigation-secondary-menu>
      </rh-navigation-secondary-dropdown>
    </li>
    <li>
      <rh-navigation-secondary-dropdown>
        <a href="#dropdown-fallback-url" slot="link">Security</a>
        <rh-navigation-secondary-menu slot="menu">
          <ul>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </rh-navigation-secondary-menu>
      </rh-navigation-secondary-dropdown>
    </li>
  </ul>
</rh-navigation-secondary>