<rh-navigation-secondary role="navigation">
  <a href="/experts/" slot="logo" id="logo-id">
    Cloud Experts Documentation
  </a>
  <ul slot="nav" aria-labelledby="logo-id">
    <li>
      <rh-navigation-secondary-dropdown>
        <a href="/experts/tags/rosa/" slot="link">Red Hat OpenShift Service on AWS</a>
        <rh-navigation-secondary-menu slot="menu">
          <ul>
            <li><a href="/experts/tags/rosa-hcp/">Default architecture (Hosted Control Planes)</a></li>
            <li><a href="/experts/tags/rosa-classic/">Classic architecture</a></li>
          </ul>
        </rh-navigation-secondary-menu>
      </rh-navigation-secondary-dropdown>
    </li>
    <li>
      <a href="/experts/tags/aro/" slot="link">Azure Red Hat OpenShift</a>
    </li>
    <li>
      <a href="/experts/tags/osd/" slot="link">OpenShift Dedicated</a>
    </li>
    <li>
      <rh-navigation-secondary-dropdown>
        <a href="#" slot="link">Other Products</a>
        <rh-navigation-secondary-menu slot="menu">
          <ul>
            <li><a href="/experts/tags/virtualization/">OpenShift Virtualization</a></li>
            <li><a href="/experts/tags/rhoai/">Red Hat OpenShift AI</a></li>
            <li><a href="/experts/tags/acm/">Red Hat Advanced Cluster Management for Kubernetes</a></li>
            <li><a href="/experts/tags/acs/">Red Hat Advanced Cluster Security for Kubernetes</a></li>
          </ul>
        </rh-navigation-secondary-menu>
      </rh-navigation-secondary-dropdown>
    </li>
  </ul>
</rh-navigation-secondary>