name: Deploy Mobb Site

on:

  push:
    branches:
      - hugo
#   pull_request:
#     types: [closed]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code 
      uses: actions/checkout@v3

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: 'latest'
        extended: true
    
    - name: Build 
      run: hugo --minify

#     - name: HTML Test
#       run: gem install html-proofer && htmlproofer public --disable-external

    - name: Deploy
      if: success() && github.ref == 'refs/heads/hugo'
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
